@using Library.Core.DTO.Author
@using Library.Core.Enums
@model BookAddRequest

@section Head {
    <link rel="stylesheet" href="~/css/bookForm.css" />
}

<div class="form-wrapper">
    <form method="post" enctype="multipart/form-data" class="book-form">
        <h2>Добавить книгу</h2>
        @if (ViewBag.Errors != null)
        {
            <div class="form-errors">

                @foreach (var error in ViewBag.Errors)
                {
                    <p>@error</p>
                }

            </div>
        }
        <div class="form-group">
            <label for="title">Название книги:</label>
            <input type="text" class="form-control" id="title" value="@Model?.Title" name="Title">
        </div>
        <div class="form-group">
            <label for="authors">Авторы:</label>
            <select multiple name="Authors" id="authors">
                @if (ViewBag?.Authors != null)
                {
                    foreach (var author in ViewBag.Authors)
                    {
                        AuthorResponse authorResponse = author as AuthorResponse;
                        <option value="@(authorResponse != null  ? authorResponse.AuthorID.ToString() : "")" @(ViewBag.SelectedAuthors != null && ((IEnumerable<AuthorResponse>)(ViewBag.SelectedAuthors)).Any(x => x.AuthorID == authorResponse.AuthorID) ? "selected" : "")>
                            @author.FirstName @author.LastName
                        </option>

                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="genre">Жанр:</label>
            <select multiple name="Genre" id="Genre">
                @foreach (GenreEnum genre in Enum.GetValues(typeof(GenreEnum)))
                {
                    <option value="@genre" @(Model?.Genre != null && Model.Genre.Contains(genre.ToString()) ? "selected" : "")>@genre.ToString().Replace("_", " ")</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="publicationDate">Дата публикации:</label>
            <input type="date" class="form-control" id="publicationDate" value="@Model?.PublicationDate?.ToString("yyyy-MM-dd")" name="PublicationDate">
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea class="form-control" id="description" name="Description">@Model?.Description</textarea>
        </div>
        <div class="form-group">
            <label for="picture">Картинка:</label>
            <input type="file" class="form-control-file" id="picture" name="Image">
        </div>
        <div class="form-group">
            <label for="files">Файл PDF:</label>
            <input type="file" class="form-control-file" id="pdfFiles" name="FilePdf" multiple>
        </div>
        <div class="form-group">
            
            <label for="files">Файл DOCX:</label>
            <input type="file" class="form-control-file" id="docxFiles" name="FileDocx" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Добавить книгу</button>
    </form>
</div>
