@model List<BookResponse>

@section Head {
    <link rel="stylesheet" href="~/css/book.css" />
}

<div class="books-page">
    <div class="books-content">
        @if (Model != null && Model.Count > 0)
        {
            <div class="book-container">
                @foreach (var book in Model)
                {
                    <div class="book">

                        <div class="book-image-container">
                            <img src="@ViewBag.Image" class="book-image">
                        </div>
                        <a href="books/@book.BookID">
                            <h2 class="book-title">@book.Title</h2>
                        </a>
                        <p class="book-author">@book.Author</p>
                        @*<div class="book-info">
                <span class="book-rating">Rating: @book.Ratings.Average(r => r.RatingPoints)</span>
                <span class="book-comments">Comments: @book.Comments.Count</span>
                </div>*@

                    </div>
                }
            </div>
        }
        else
        {
            <p class="not-found-message">Упс, ничего не найдено</p>
        }
    </div>
    <div class="books-sidebar">
        <div class="search-filter">
            <h3>Поиск</h3>
            <form method="get" action="books">
                <label for="searchBy">Поиск по:</label>
                <select name="searchBy" id="searchBy">
                    <option value="">Все</option>
                    <option value="Title" @(ViewData["SearchBy"]?.ToString() == "Title" ? "selected" : "")>Название</option>
                    <option value="Description" @(ViewData["SearchBy"]?.ToString() == "Description" ? "selected" : "")>Описание</option>
                    <option value="PublicationDate" @(ViewData["SearchBy"]?.ToString() == "PublicationDate" ? "selected" : "")>Дата публикации</option>
                    <option value="Genre" @(ViewData["SearchBy"]?.ToString() == "Genre" ? "selected" : "")>Жанр</option>
                    <option value="Author" @(ViewData["SearchBy"]?.ToString() == "Author" ? "selected" : "")>Автор</option>
                </select>

                <label for="searchString">Поиск:</label>
                <input type="text" id="searchString" name="searchString" placeholder="Введите текст для поиска"
                       value="@ViewData["SearchString"]">

                <label for="sortBy">Сортировать по:</label>
                <select name="sortBy" id="sortBy">
                    <option value="Title" @(ViewData["SortBy"]?.ToString() == "Title" ? "selected" : "")>Название книги</option>
                    <option value="Description" @(ViewData["SortBy"]?.ToString() == "Description" ? "selected" : "")>Описание</option>
                    <option value="PublicationDate" @(ViewData["SortBy"]?.ToString() == "PublicationDate" ? "selected" : "")>Дата публикации</option>
                    <option value="Genre" @(ViewData["SortBy"]?.ToString() == "Genre" ? "selected" : "")>Жанр</option>
                    <option value="Author" @(ViewData["SortBy"]?.ToString() == "Author" ? "selected" : "")>Имя автора</option>
                </select>

                <label for="sortOrder">Порядок сортировки:</label>
                <select name="orderBy" id="sortOrder">
                    <option value="ASC" @(ViewData["SortOrder"]?.ToString() == "ASC" ? "selected" : "")>По возрастанию</option>
                    <option value="DESC" @(ViewData["SortOrder"]?.ToString() == "DESC" ? "selected" : "")>По убыванию</option>
                </select>

                <button type="submit">Применить фильтры</button>
            </form>
        </div>
    </div>
</div>