@model List<BookResponse>

@section Head {
    <link rel="stylesheet" href="~/css/book.css" />
}

<div class="books-page">
    <div class="books-content">
        @if (Model != null && Model.Count > 0)
        {
            <div class="book-container">
                @foreach (var book in Model)
                {
                    <div class="book">

                        <div class="book-image-container">
                            <img src="@ViewBag.Image" class="book-image">
                        </div>
                        <a href="books/@book.BookID">
                            <h2 class="book-title">@book.Title</h2>
                        </a>
                        <p class="book-author">@book.Author</p>
                        @*<div class="book-info">
                <span class="book-rating">Rating: @book.Ratings.Average(r => r.RatingPoints)</span>
                <span class="book-comments">Comments: @book.Comments.Count</span>
                </div>*@

                    </div>
                }
            </div>
        }
        else
        {
            <p class="not-found-message">Упс, ничего не найдено</p>
        }
    </div>
    <div class="books-sidebar">
        <div class="search-filter">
            <h3>Поиск</h3>
            <form method="get" action="@Url.Action("Index", "Books")">
                <label for="genre">Жанр:</label>
                <select name="genre-filter" id="genre-filter">
                    <option value="">Все</option>
                    <option value="biography">Биография</option>
                    <option value="mystery">Детектив</option>
                    <option value="drama">Драма</option>
                    <option value="historical">Исторический</option>
                    <option value="classic">Классика</option>
                    <option value="crime">Криминал</option>
                    <option value="science">Наука</option>
                    <option value="sci-fi">Научная фантастика</option>
                    <option value="poetry">Поэзия</option>
                    <option value="adventure">Приключения</option>
                    <option value="romance">Романтика</option>
                    <option value="contemporary">Современная литература</option>
                    <option value="fantasy">Фэнтези</option>
                    <option value="fantasy-adventure">Фэнтези-приключения</option>
                    <option value="fantasy-romance">Фэнтези-романтика</option>
                    <option value="thriller">Триллер</option>
                    <option value="horror">Ужасы</option>
                    <option value="humor">Юмор</option>
                </select>
                <label for="sort-filter">Сортировать по:</label>
                <select name="orderBy" id="sort-filter">
                    <option value="1">Рейтинг (по убыванию)</option>
                    <option value="2">Рейтинг (по возрастанию)</option>
                    <option value="3">Количество комментариев (по убыванию)</option>
                    <option value="4">Количество комментариев (по возрастанию)</option>
                    <option value="5">Название книги(по убыванию)</option>
                    <option value="6">Название книги(по возрастанию)</option>
                    <option value="7">Имя автора(по убыванию)</option>
                    <option value="8">Имя автора(по возрастанию)</option>
                </select>
                <button type="submit">Применить фильтры</button>
            </form>
        </div>
    </div>
</div>